* {
    -fx-text-fill: white;
}

.mainArea {
    -fx-background-color: #3a4559;
}

.title, .footer {
    -fx-text-fill: yellow;
    -fx-font-weight: 900;
}

TextField, Button {
    -fx-text-fill: black;
}

.errorLabel {
    -fx-text-fill: red;
}